*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Vollkorn-Bold;
  src: url(../fonts/Vollkorn-Bold.ttf);
}

@font-face {
  font-family: Quesha;
  src: url(../fonts/Quesha.ttf);
}

@font-face {
  font-family: Lato-B;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-R;
  src: url(../fonts/Lato-Regular.ttf);
}

/* :root{
  --grd-dark: #333;
  --grd-bright: #e6e6e6;
} */

body{
  overflow: hidden;
  background-color: #333;
}

.main-image{
  opacity: 1;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1.1);
  max-width: 100%;
  max-height: 100%;
}

/* .idk{
  position: absolute;
  width:100%;
  height:auto;
} */

.gradient{
  aspect-ratio: 15 / 10;
  width:100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1.1);
  /* background-color: firebrick; */
  opacity: 1;
}

.top-grd,
.bot-grd{
  width: 100%;
  height:8%;
}

.left-grd,
.right-grd{
  top:0;
  width: 8%;
  height:100%;
  position: absolute;
  /* background-color: red; */
}

.left-grd{
  left:0;
  background: linear-gradient(to right, #333, transparent);
}

.right-grd{
  right:0;
  background: linear-gradient(to left, #333, transparent);

}

.top-grd{
  background: linear-gradient( #333, transparent);
}

.bot-grd{
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, #333);
}

/* ----------------- GRADIENT ANIMATIONS ----------------- */

.gradient *{
  transition: all 0.3s;
}

.gradient .top-grd{
  animation-name: top-grd;
  animation-duration: 4.4s;
}

.gradient .left-grd{
  animation-name: left-grd;
  animation-duration: 4.4s;
}

.gradient .right-grd{
  animation-name: right-grd;
  animation-duration: 4.4s;
}

.gradient .bot-grd{
  animation-name: bot-grd;
  animation-duration: 4.4s;
}

@keyframes top-grd {

  0%{
    background: linear-gradient( #e6e6e6, transparent);
  }

  95%{
    background: linear-gradient( #e6e6e6, transparent);
    opacity: 1;
  }

  97.4%{
  background: linear-gradient( #e6e6e6, transparent);
    opacity: 0;
  }

  97.5%{
    background: linear-gradient( #333, transparent);
    opacity: 0;
  }

  100%{
    background: linear-gradient( #333, transparent);
    opacity: 1;

  }
}

@keyframes left-grd {

  0%{
    background: linear-gradient(to right, #e6e6e6, transparent);
  }

  95%{
    background: linear-gradient(to right, #e6e6e6, transparent);
    opacity: 1;
  }

  97.4%{
    background: linear-gradient(to right, #e6e6e6, transparent);
    opacity: 0;
  }

  97.5%{
    background: linear-gradient(to right, #333, transparent);
    opacity: 0;
  }

  100%{
    background: linear-gradient(to right, #333, transparent);
    opacity: 1;

  }
}

@keyframes right-grd {

  0%{
    background: linear-gradient(to left, #e6e6e6, transparent);
  }

  95%{
    background: linear-gradient(to left, #e6e6e6, transparent);
    opacity: 1;
  }

  97.4%{
    background: linear-gradient(to left, #e6e6e6, transparent);
    opacity: 0;
  }

  97.5%{
    background: linear-gradient(to left, #333, transparent);
    opacity: 0;
  }

  100%{
    background: linear-gradient(to left, #333, transparent);
    opacity: 1;

  }
}

@keyframes bot-grd {
  0%{
    background: linear-gradient(transparent, #e6e6e6);
  }

  95%{
    background: linear-gradient(transparent, #e6e6e6);
    opacity: 1;
  }

  97.4%{
    background: linear-gradient(transparent, #e6e6e6);
    opacity: 0;
  }

  97.5%{
    background: linear-gradient(transparent, #333);
    opacity: 0;
  }

  100%{
    background: linear-gradient(transparent, #333);
    opacity: 1;

  }
}

/* ----------------- ----------------- ----------------- */


.images{
  /* overflow: hidden; */
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  /* IMPORTANT TO LEARN */
  aspect-ratio: 15 / 10;
  /* IMPORTANT TO LEARN */

  width:100%;
  max-width: 100%;
  max-height: 100%;
  /* background-color: yellow; */
}



.video{
  pointer-events: none;
  width:100vw;
  height:100vh;
  background-color: transparent;
  /* #e6e6e6 */
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  animation-name: video-opac;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition: opacity 0.5s;
}

/* .video *{
  opacity: 0;
  display: block;
} */

.text-top p{
  position: absolute;
  top:1%;
  left:50%;
  transform: translateX(-50%);
  font-family: Lato-B, sans-serif;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: calc(0.8vw + 0.5vh);
  color: #e6e6e6
}

.bar-outline{
  box-sizing: content-box;
  position: absolute;
  top:50%;
  left: 2%;
  transform: translate(-50%, -50%);
  width:1vw;
  max-width:20px;
  min-width:4px;
  height: 90%;
  border-radius: 20px;
  background-color: transparent ;
  border: 2px solid #e6e6e6;
  overflow: hidden;
}

.bar-height{
  position: absolute;
  bottom: 0%;
  width:100%;
  height: 0%;
  border-radius: 10px;
  background-color: #e6e6e6;
  transition: height 0.6s;
}

.bar-text{
  position: absolute;
  top:50%;
  left:2%;
  transform: translate(-50%, -50%);
  width:1vw;
  max-width:20px;
  min-width:4px;
  height: 90%;
  background-color: transparent;
  color: #e6e6e6;
  font-family: Lato-B, sans-serif;
}

.time1{
  position: absolute;
  bottom: -2px;
  left: 22px;
}

.time13{
  position: absolute;
  top: -2px;
  left: 22px;
}



.dot-1:hover ~ .bar-outline .bar-height{
  height: 0%;
}

.dot-2:hover ~ .bar-outline .bar-height{
  height: 2%;
}

.dot-3:hover ~ .bar-outline .bar-height{
  height: 12.7%;
}

.dot-4:hover ~ .bar-outline .bar-height{
  height: 18.2%;
}

.dot-5:hover ~ .bar-outline .bar-height{
  height: 25.5%;
}

.dot-6:hover ~ .bar-outline .bar-height{
  height: 30.1%;
}

.dot-7:hover ~ .bar-outline .bar-height{
  height: 38.2%;
}

.dot-8:hover ~ .bar-outline .bar-height{
  height: 41.8%;
}

.dot-9:hover ~ .bar-outline .bar-height{
  height: 50.1%;
}

.dot-10:hover ~ .bar-outline .bar-height{
  height: 61.8%;
}

.dot-11:hover ~ .bar-outline .bar-height{
  height: 89.1%;
}

.dot-12:hover ~ .bar-outline .bar-height{
  height: 98.1%;
}

.dot-13:hover ~ .bar-outline .bar-height{
  height: 100%;
}

@keyframes video-opac {
  0%{
    display: block;
    opacity: 1;
  }

  95%{
    opacity: 1;
  }

  99%{
    display: block;
    opacity: 0;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

.vid{
  opacity: 1;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) scale(1.1);
  aspect-ratio: 15 / 10;
  /* IMPORTANT */
  max-width: 100%;
  max-height: 100%;
}

.vid1{
  opacity: 1;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) scale(2);
  aspect-ratio: 15 / 10;
  /* IMPORTANT */
  max-width: 100%;
  max-height: 100%;
}

.vid-background{
  background-color:#e6e6e6;
  width:100%;
  height:100%;
}

.bg{
  background-color: #333;
  width:100%;
  height:100%;
}

.bg-l{
  aspect-ratio: 15 / 10;
  position: absolute;
  left:50%;
  top:50%;
  transform-origin: 56.8% 50%;
  transform: translate(-49%, -50%) scale(5);
  width:100%;
  max-width: 100%;
  max-height: 100%;
  background-color:#e6e6e6;
  /* #e6e6e6 */
  clip-path: polygon(0% 0%, 28.1% 0%, 85.9% 100%, 0% 100%);
}

.bg-r{
  aspect-ratio: 15 / 10;
  position: absolute;
  left:50%;
  top:50%;
  transform-origin: 56.8% 50%;
  transform: translate(-51%, -50%) scale(5);
  width:100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #e6e6e6;
  /* #e6e6e6 */
  clip-path: polygon(28.2% 0%, 100% 0 , 100% 100% , 86% 100%);
}

.dot{
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  width: calc(0.8vw + 0.8vh);
  height: calc(0.8vw + 0.8vh);
  box-shadow: 0 0 0px calc(0.3vw + 0.3vh) #fff;
  transform: translate(-50%, -50%);
  opacity: 0.88;
}

.image img{
  /*pointer-events: none; */
  pointer-events: none;
  /* we'll use later for a href to open image */
  /* to be able to click through image */
  opacity: 0;
  position: absolute;
  /* background-color: red; */
  max-width: 18%;
  /* z-index: 50; */
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}

.image1 img{
  top:87.5%;
  left:86%;
}

.image2 img{
  top:70%;
  right: -7%;
}

.image3 img{
  top:70%;
  left:70%;
  max-width: 16%;
}

.image4 img{
  top:79%;
  left:48.5%;
}

.image5 img{
  top:55%;
  left:37.5%;
}

.image6 img{
  top:58%;
  left:36%;
}

.image7 img{
  top:40%;
  left:70.5%;
}

.image8 img{
  top:38%;
  left:68.5%;
}

.image9 img{
  top:51.5%;
  left:37%;
  max-width: 16%;
}

.image10 img{
  top:33.8%;
  left:21.5%;
  max-width: 100%;
  max-height: 25%;
}

.image11 img{
  top:38%;
  left:23%;
  max-width: 16%;
}

.image12 img{
  top:32%;
  left:14.5%;
}

.image13 img{
  top:38%;
  left:18%;
}

.dot-1:hover ~ .image1 img,
.dot-2:hover ~ .image2 img,
.dot-3:hover ~ .image3 img,
.dot-4:hover ~ .image4 img,
.dot-5:hover ~ .image5 img,
.dot-6:hover ~ .image6 img,
.dot-7:hover ~ .image7 img,
.dot-8:hover ~ .image8 img,
.dot-9:hover ~ .image9 img,
.dot-10:hover ~ .image10 img,
.dot-11:hover ~ .image11 img,
.dot-12:hover ~ .image12 img,
.dot-13:hover ~ .image13 img{
  opacity: 1;
  transform: translate(-50%, -70%);
}

.hoverer{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: calc(1.4vw + 1.4vh);
  height: calc(1.4vw + 1.4vh);
  background-color: transparent;
}

.dot-1{
  top:91%;
  left:74.2%;
  background-color: hsl(115, 23%, 65%);
}

.dot-2{
  top:88.5%;
  left:74.6%;
  background-color: hsl(16, 55%, 70%);
}

.dot-3{
  top:84.5%;
  left:70.6%;
  background-color: hsl(44, 55%, 60%);
}

.dot-4{
  top:74.5%;
  left:60%;
  background-color: hsl(145, 12%, 50%);
}

.dot-5{
  top:52.2%;
  left:48%;
  background-color: hsl(35, 55%, 62%);
}

.dot-6{
  top:50.5%;
  left:51%;
  background-color: hsl(197, 36%, 68%);
}

.dot-7{
  top:40.6%;
  left:56.6%;
  background-color: hsl(210, 40%, 31%);
}

.dot-8{
  top:37%;
  left:54.5%;
  background-color: hsl(84, 44%, 66%);
}

.dot-9{
  top:26.5%;
  left:47.6%;
  background-color: hsl(5, 60%, 55%);
  /* hsl(154, 17%, 49%) */
}

.dot-10{
  top:16.4%;
  left:36%;
  background-color: hsl(22, 85%, 60%);
}

.dot-11{
  top:11%;
  left:32.4%;
  background-color: hsl(84, 55%, 75%);
}

.dot-12{
  top:8%;
  left:26.8%;
  background-color: hsl(183, 38%, 74%);
}

.dot-13{
  top:10%;
  left:27.8%;
  background-color: hsl(28, 78%, 64%);
}
